body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: 0.3s;
}

main {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.dark {
    background-color: #222;
    color: white;
}